@page "/linker"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using AcademicTimePlanner.Store.State.ProjectLinker

@if (ProjectLinkerState.Value.Loaded)
{
    <h4>Select plan project</h4>
    <EditForm Model="@ChartData" OnSubmit="@LinkProjects">
        <DataAnnotationsValidator />
        <ValidationSummary />
            @foreach (var planProject in ChartData.PlanProjects)
            {
                <input type="radio" name="project" value="@planProject.Id" /> @planProject.Name<br />   
            }
            @foreach (var togglProject in ChartData.TogglProjects)
            {
                <input type="checkbox" name="toggl" value="@togglProject.TogglId" /> @togglProject.Name<br />
            }
        <input type="submit" />
    </EditForm>
}
else
{
    <p>No data loaded.</p>
}
