@page "/linker"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using AcademicTimePlanner.DataMapping.Plan;
@using AcademicTimePlanner.Store.State.ProjectLinker

@if (ProjectLinkerState.Value.Loaded)
{
    <EditForm Model="@ProjectSelector">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <h4>Select plan project</h4>
        <InputRadioGroup @bind-Value="ProjectSelector.PlanProjectId">
            @foreach (var planProject in ProjectsData!.PlanProjects)
            {
                <InputRadio Value="@planProject.Id"/> @planProject.Name<br />   
            }
        </InputRadioGroup>

        <p></p>
        <h4>Select Toggl project</h4>
        <InputRadioGroup @bind-Value="ProjectSelector.TogglProjectTogglId">
            @foreach (var togglProject in ProjectsData!.GetAllTogglProjects())
            {
                <InputRadio Value=@togglProject.TogglId />@togglProject.Name<br />
            }
        </InputRadioGroup>

        <p></p>
        <button type="submit" @onclick="((e) => OnClick(e, true))">Link projects</button>
        <button type="submit" @onclick="((e) => OnClick(e, false))">Unlink projects</button>
    </EditForm>

    <p></p>
    <h4>Unlinked Toggl projects</h4>
    <label>@ProjectsData!.GetUnlinkedTogglProjectsAsString()</label>
    <p></p>

    <h4>Already linked projects</h4>
    <p>Plan project -> Linked Toggl projects</p>
    <ul>
        @foreach (var planProject in ProjectsData!.PlanProjects)
        {
            <li>@planProject.Name -> @ProjectsData.GetLinkedTogglProjectsAsString(planProject)</li>
        }
    </ul>
}
else
{
    <p>No data loaded.</p>
}
