@page "/toggl"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Number of Toggl projects</h3>

@if (TogglState.Value.Loaded)
{
    <p>@LoadOverview.Count Toggl projects loaded</p>
    <button type="button" class="btn btn-primary" @onclick="Synchronize">Synchronizing</button>
    <p>Last synchronized: @TogglState.Value.LastSynchronized.ToString()</p>
    <p>Following Toggl projects have been loaded. Display format: Toggl project -> associated plan project</p>
    <ul>
    @foreach (var overviewData in LoadOverview)
    {
        @if (!overviewData.IsDeleted)
        {
            <li>@overviewData.TogglProjectName -> @overviewData.PlanProjectName</li>
        }   
        else
        {
            <li style="color:red">@overviewData.TogglProjectName (deleted) -> @overviewData.PlanProjectName</li>
        }
    }
    </ul>
}
else
{
    <p>No data loaded - Missing Toggl settings</p>
    
    <EditForm Model="@TogglSettings" OnValidSubmit="@SaveTogglSettings">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <p>Toggl API key: <InputText id="toggl-api-key" @bind-Value="TogglSettings.TogglApiKey" /></p>
        <p>Toggl workspace ID: <InputText id="toggl-workspace-id" @bind-Value="TogglSettings.TogglWorkspaceId" /></p>
        <button type="submit">Save Toggl settings</button>
    </EditForm>
}
