@page "/toggl"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<h3>Number of Toggl projects</h3>

@if (_togglState.Value.Loaded)
{
    <p>@_loadOverview.Count Toggl projects loaded</p>
    <button type="button" class="btn btn-primary" @onclick="Synchronize">Synchronize</button>
    <p>Last synchronized: @_lastSynchronized.ToString()</p>
    <p>Following Toggl projects have been loaded. Display format: Toggl project -> associated plan project</p>

    <ul>
    @foreach (var overviewData in _loadOverview)
    {
        @if (!overviewData.IsDeleted)
        {
            <li>@overviewData.TogglProjectName -> @overviewData.PlanProjectNames</li>
        }   
        else
        {
            <li style="color:red">@overviewData.TogglProjectName (deleted) -> @overviewData.PlanProjectNames</li>
        }
    }
    </ul>
}
else
{
    <p>No data loaded - Missing Toggl settings</p>
    
    <EditForm Model="@_togglSettings" OnValidSubmit="@SaveTogglSettings">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <p>Toggl API key: <InputText id="toggl-api-key" @bind-Value="_togglSettings.TogglApiKey" /></p>
        <p>Toggl workspace ID: <InputText id="toggl-workspace-id" @bind-Value="_togglSettings.TogglWorkspaceId" /></p>
        <button type="submit">Save Toggl settings</button>
    </EditForm>
}
