@inherits Fluxor.Blazor.Web.Components.FluxorLayout

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @if (EditorState.Value.Fields != null)
        {
          for (int index = 0; index < FieldValues.Count; index++)
          {
            var consistentIndex = index;
            switch (EditorState.Value.Fields[index].Type)
            {
              case "String":
                <div class="input-group mb-3">
                  <span class="input-group-text">@EditorState.Value.Fields[index].Label</span>
                  <input @bind="@FieldValues[consistentIndex]" type="text" class="form-control" placeholder="@EditorState.Value.Fields[index].Label" aria-label="togglapikey">
                </div>
                break;
              default:
                <p>Feldtyp @EditorState.Value.Fields[index].Type wird von Komponente "Editor" nicht unterstützt.</p>
                break;
            }
          }
        }
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="@SaveChanges">Save changes</button>
      </div>
    </div>
  </div>
</div>